{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block side %}
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                <span data-feather="home"></span>
                                Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'stock' %}">
                                <span data-feather="shopping-cart"></span>
                                Products <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'issuesummary' %}">
                                <span data-feather="file"></span>
                                Sales
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'receivesummary' %}">
                                <span data-feather="file"></span>
                                Received
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Customers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Integrations
                                </a>
                            </li>
                        </ul>
{% endblock %}
{% block content %}

        <div class="alert alert-success" role="alert">
            <h3 class="alert-heading">{{stock.item_name|upper}}</h3>
        </div>

        <form method='POST' action=''>
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-outline-primary" type="submit" value='Save'/>
        </form>
{% endblock %}