{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block side %}
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                <span data-feather="home"></span>
                                Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'stock' %}">
                                <span data-feather="shopping-cart"></span>
                                Products <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'issuesummary' %}">
                                <span data-feather="file"></span>
                                Sales
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'receivesummary' %}">
                                <span data-feather="file"></span>
                                Received
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Customers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Integrations
                                </a>
                            </li>
                        </ul>
{% endblock %}
{% block content %}
        <div class="alert alert-success" role="alert">
            <form method='POST' action=''>
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-outline-primary mybutton" type="submit" value='Search'/>
            </form>
            
        </div>
        
        <br>
        <hr>
            <h4 style='text-align : center'>PRODUCTS LIST</h4>
        <hr>
        <br>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <th>#</th>
                    <th>ITEM NAME</th>
                    <th>CATEGORY</th>
                    <th>QUANTITY</th>
                    <th>DELETE</th>
                    <th>UPDATE</th>
                </thead>

                {% for i in stock %}
                
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'detail' i.id %}">{{i.item_name|upper}}</a></td>
                    <td>{{i.category}}</td>
                    <td>{{i.quantity}}</td>
                    <td><a href="{% url 'delete' i.id %}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg></a>
                    </td>
                    <td><a href="{% url 'update' i.id %}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg></a>
                    </td>
                </tr>
                
                {% endfor %}
            </table>
        </div>

{% endblock %}